always-auth=true
registry=https://npm.greensock.com/
//registry.npmjs.org/:_authToken=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
//npm.greensock.com/:_authToken=06b81e0f-6088-464d-a151-6fc9f02ab1e6
registry=https://npm.greensock.com/
//npm.greensock.com/:_authToken=06b81e0f-6088-464d-a151-6fc9f02ab1e6
@gsap:registry=https://npm.greensock.com