.customBorders:focus {
	border-color: red !important;
	outline-color: red !important;
}
.textareaCustom {
	width: 100%;
	overflow: auto;
	outline: none;
	border-radius: 4px;
	border-color: #d2d2d2;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-style: solid;
	resize: none; /*remove the resize handle on the bottom right*/
}
.textareaCustom:focus {
	outline: none !important;
}
.postOutterContainer {
	margin: 60px 100px;
}

.title {
	font-weight: 750;
	font-size: 42px;
	margin: 10px 0;
}

.subTitle {
	margin: 0px 0px;
	line-height: 40px;
}

.byAndDate {
	margin: 0px 0px;
	line-height: 40px;
}
.byAndDate a {
	text-decoration: none !important;
	color: black !important;
	font-weight: 450;
}

.byAndDate a:hover {
	text-decoration: underline !important;
}

.reviewContainer {
	height: 25px;
	margin: 5px 0;
	line-height: 25px;
	display: flex;
	align-items: center;
}

.postBodyLeft {
	width: 65%;
	height: fit-content;
	padding-right: 30px;
}

.postBodyRight {
	max-width: 335px;
	margin: 0 auto;
	padding: 20px 0;
}
.postBody {
	margin: 0;
}
.flexMe {
	display: flex;
	width: 100%;
}
.postBodyRightContainer {
	border-width: 3px 1px 1px;
	border-style: solid;
	border-color: rgb(206, 41, 39) rgb(211, 215, 220) rgb(211, 215, 220);
	border-image: initial;
	font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 0.875rem;
	margin-bottom: 0px;
	padding: 0.5rem 0px;
	font-weight: bold;
	text-align: center;
}
.MuiFormLabel-root.Mui-focused {
	color: red !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
	border-color: red !important;
}

.postBodyRightContainerBody {
	font-size: 0.875rem;
	border-left: 1px solid rgb(211, 215, 220);
	border-right: 1px solid rgb(211, 215, 220);
	border-bottom: 1px solid rgb(211, 215, 220);
	border-image: initial;
	padding: 0.5rem 15px;
	line-height: 24px;
}
.postBodyRightContainerBody span {
	margin-left: 7px;
}
.postBodyRightContainerBody div {
	font-size: 0.875rem;
	margin: 15px 0;
}
.innerBodyContainer {
	padding: 20px 0;
}

.innerBodyContainerLeft {
	width: 65%;
	border-right: 1px solid #d8d8d8;
}

.innerBodyContainer p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-family: var(--font-primary);
	margin: 0px 0px 1rem;
	font-size: 1.125rem;
	line-height: 1.5;
}
.innerBodyContainerRight {
	flex: 1;
}

.reviewContainerDivAlt {
	height: 30px;
	color: #585f6d;
	padding-top: 5px;
	margin: 0 7px;
	font-weight: 900px;
	color: #0a95ff;
}
.reviewContainerDiv {
	height: 30px;
	color: #585f6d;
	padding-top: 5px;
	margin-right: 7px;
	font-weight: 900px;
}
.greyMe {
	color: #585f6d;
}

.imgContainer {
	padding-bottom: 35px;
	display: flex;
}

.imgMain {
	max-width: 775px;
	max-height: 520px;
	border: 1px solid #d8d8d8;
}

.topBody {
	border-bottom: 1px solid #d8d8d8;
	padding: 20px 0;
	margin: 20px 0;
}

.actionsContainer {
	margin-top: 14px;
	display: flex;
	line-height: 32px;
	font-size: 14px;
}
.actionsContainer div {
	margin: 0 3px;
}

.saveContainer {
	display: flex;
	justify-content: center;
	height: 36px;
	line-height: 36px;
	padding: 0 15px;
	border: 1px solid #d8d8d8;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
}

.saveContainer:hover {
	outline: 1px solid #acacac;
}

.saveContainer span {
	margin-left: 5px;
}
