.cardContainer {
	position: absolute;
	width: 175px;
	right: 0;
	margin-top: 25px;
	margin-right: -175px;
	border: 1px solid #ededed;
	background: white;
	border-radius: 5px;
	padding: 7px 0;
}

.cardOutContainer {
	position: relative;
}

.cardItemBody {
}

.cardItem {
	display: flex;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	font-family: "Roboto", "Noto", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 14px !important;
	font-weight: 400;
	line-height: 24px;
	padding: 5px 0px;
}
.cardItem div {
	font-size: 13px;
}

.cardItem:hover {
	background-color: #f3f6f4;
}

.cardItem i {
	padding: 0 15px;
}
