.homepageContainerMain {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: auto;
	z-index: 1;
	padding: 55px 250px;
}

.selectContainer {
	width: 47% !important;
}
.widthContainer {
}
.selectItem {
	display: block !important;
	padding: 5px 7px !important;
}

.containerHeader {
	padding: 25px;
}

.textareaCustom {
	width: 100%;
	resize: none;
	outline: none !important;
	padding: 15px 10px;
	border: 1px solid #bdbdbd;
	border-style: solid;
	border-radius: 4px;
}
.textareaCustom:hover {
	border-color: #5b5b5b;
}
.header::before {
	margin-top: -40px;
	position: absolute;
	content: "___";
	color: #d00707;
}
.header {
	font-weight: 900;
	font-size: 1.25rem;
}

.formContainer {
	width: 65%;
	padding: 20px 0;
}
