.homepageContainerMain {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: auto;
	z-index: 1;
	padding: 150px 150px;
}
.special_input {
	height: 100px;
}
.mediaContainer {
	flex: 1;
	padding: 58px 0;
}
.fontSize {
	font-size: 10px !important;
}
.formContainer {
	width: 60%;
	margin-right: 40px;
	padding: 20px 0;
}
.selectContainer {
	width: 47% !important;
}
.widthContainer {
}
.selectItem {
	display: block !important;
	padding: 5px 7px !important;
}

.containerHeader {
	padding: 0 25px;
}

.textareaCustom {
	width: 100%;
	resize: none;
	outline: none !important;
	padding: 15px 10px;
	border: 1px solid #bdbdbd;
	border-style: solid;
	border-radius: 4px;
}
.textareaCustom:hover {
	border-color: #5b5b5b;
}

.header {
	font-weight: 900;
	font-size: 1.25rem;
}
.customLabel {
	background-color: white;
	width: fit-content;
	position: absolute;
	padding: 0 5px;
	top: -9px;
	color: rgba(0, 0, 0, 0.6);
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	font-size: 11px;
	line-height: 1.4375em;
	letter-spacing: 0.00938em;
}
.customBox {
	margin-top: 10px;
	position: relative;
	padding: 0 10px;
	border-radius: 6px;
	border: 1px solid #d2d2d2;
}
.customBox:hover {
	border-color: black;
}
