.container {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	height: 100vh;
	width: 100vw;
	margin: 0 auto;
	z-index: 100;
	animation: fadeInAnimation ease 0.25s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.entireBody {
	width: 90%;
	height: 90%;
	top: 0;
	margin: 5%;
	border-radius: 7px;
	background-color: white;
}
.entireBody i {
	cursor: pointer;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
